apiVersion: v1
kind: ConfigMap
metadata:
  name: turbo-config-{{ .Release.Name }}
data:
  turbo.config: |-
    {
      "communicationConfig": {
        "serverMeta": {
          "version": "{{ .Values.serverMeta.version }}",
          "turboServer": "{{ .Values.serverMeta.turboServer }}"
        },
        "restAPIConfig": {
          "opsManagerUserName": "{{ .Values.restAPIConfig.opsManagerUserName }}",
          "opsManagerPassword": "{{ .Values.restAPIConfig.opsManagerPassword }}"
        }
      },
      "masterNodeDetectors": {
        "nodeNamePatterns": [ "{{ .Values.masterNodeDetectors.nodeNamePatterns }}" ],
        "nodeLabels": [ {"key": "{{ .Values.masterNodeDetectors.nodeLabelsKey }}", "value": "{{ .Values.masterNodeDetectors.nodeLabelsValue }}"} ]
      {{- if .Values.targetConfig }}
        {{- if .Values.targetConfig.targetName }}
      },
      "targetConfig": {
        "targetName": "{{ .Values.targetConfig.targetName }}"
        {{- end }}
      {{- end }}
      {{- if .Values.daemonPodDetectors }}
      },
      "daemonPodDetectors": {
        "namespaces": ["{{ .Values.daemonPodDetectors.daemonPodNamespaces1 }}"{{- if .Values.daemonPodDetectors.daemonPodNamespaces2}}, "{{ .Values.daemonPodDetectors.daemonPodNamespaces2 }}"{{- end}}],
        "podNamePatterns": ["{{ .Values.daemonPodDetectors.daemonPodNamePatterns }}"]
      {{- end }}
      }
    }