language: go

env:
  global:
    - DOCKER_IMAGE_NAME=$TRAVIS_REPO_SLUG
    - PLATFORM_OS_ARCH_LIST="linux/amd64,linux/arm64,linux/ppc64le,linux/s390x"
    - KUBETURBO_VERSION=$TRAVIS_TAG

services:
  - docker

go:
  - 1.20.7
 
go_import_path: github.com/turbonomic/kubeturbo

before_install:
  - go mod vendor
 
script:
  - make fmtcheck
  - make vet
  - ./hack/download_test_binaries.sh
  - ./hack/create_kind_cluster.sh
  - ./hack/deploy_istio.sh
  - ./hack/generate_ocp_context.sh
  - make integration
  - ./build/integration.test -k8s-kubeconfig=$HOME/.kube/config -k8s-context=kind-kind -docker-user-name=${DOCKER_USERNAME} -docker-user-password=${DOCKER_PASSWORD}
  - ./build/integration.test -k8s-kubeconfig=$HOME/.kube/config -k8s-context=kind-kind -istio-enabled=true -ginkgo.focus=Istio -ginkgo.focus=teardown -docker-user-name=${DOCKER_USERNAME} -docker-user-password=${DOCKER_PASSWORD}
  - ./build/integration.test -k8s-kubeconfig=$HOME/.kube/config -k8s-context=rosa -openshift-tests=true -docker-user-name=${DOCKER_USERNAME} -docker-user-password=${DOCKER_PASSWORD}
  - make product

after_success:
  - |
    if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      if [ "$TRAVIS_BRANCH" == "master" ]; then
        # Update docker
        sudo rm -rf /var/lib/apt/lists/*
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
        sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) edge"
        sudo apt-get update
        sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
        docker version
        # Install buildx plugin
        mkdir -vp ~/.docker/cli-plugins/
        curl --silent -L "https://github.com/docker/buildx/releases/download/v0.6.0/buildx-v0.6.0.linux-amd64" > ~/.docker/cli-plugins/docker-buildx
        chmod a+x ~/.docker/cli-plugins/docker-buildx
        # Login to docker
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        # Create and set a new buildx builder instance
        docker buildx create --use
        # Build and push the image
        cd build
        # Push the latest image built from master branch
        docker buildx build --platform $PLATFORM_OS_ARCH_LIST --label "git-version=$TRAVIS_COMMIT" .
      fi
    fi
