apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: kubeturbo-operator
  name: turbo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeturbo-operator
  labels:
    control-plane: kubeturbo-operator
    app.kubernetes.io/name: kubeturbo-operator
    app.kubernetes.io/instance: kubeturbo-operator
    app.kubernetes.io/managed-by: operator-life
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: kubeturbo-operator
  template:
    metadata:
      labels:
        control-plane: kubeturbo-operator
    spec:
      serviceAccountName: kubeturbo-operator
      securityContext:
        runAsNonRoot: true
      containers:
      - name: kubeturbo-operator
        image: turbonomic/kubeturbo-operator:8.3
        args:
        - --leader-elect
        - --leader-election-id=kubeturbo-operator
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 60Mi
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "kubeturbo-operator"
        securityContext:
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        volumeMounts:
        - mountPath: /tmp
          name: operator-tmpfs0
      volumes:
      - name: operator-tmpfs0
        emptyDir: {}
      terminationGracePeriodSeconds: 10
